@font-face {
  font-family: 'Brigends Expanded';
  src: url('../../public/brigendsexpanded-nrek1.otf') format('truetype');
}

@font-face {
  font-family: 'The Hungry Regular';
  src: url('../../public/the-hungry.regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 0;
}

#strokeText{
  -webkit-text-stroke: 3px #FF706B;
  color: transparent
}